*{
    margin: 0px;
    padding: 0px;
}


main{
    margin: 50px auto;
    text-align: center;
    width: 1322px;
    height: 480px;
  
}



main>img{
    margin-bottom: 100px;
}
.banner-2{
    margin-bottom: 70px;
}
.banner-2>h1{
    font-weight: 900;
    font-size: 50px;
    color: #FF0000;
    margin: 10px 0px;
}
.banner-2>h3{
    margin-top: 10px;
}
.celebrate{
    position: relative;
    margin-bottom: 90px;
}
/* .celebrate-container{
    display: flex;
    justify-content: space-between; */
.celebrate-img{
   position: absolute;
   top: 50px;
   left: 980px;
}
.celebrate-des{
    position: absolute;
    top: 70px;
    left: 200px;
    width: 650px;
    text-align: left;
    color: white;
   

}

.celebrate-des>h1{
   font-weight: bolder;
   font-size: 80px;
   margin-bottom: 20px;
}
.celebrate-des>p{
    margin-bottom: 50px;
    width: 500px;
    font-size: 15px;
    font-weight: 400;
}
.celebrate-des>button{
    border: none;
   background: none;
   font-weight: 900;
   font-size: 30px;
   text-transform: uppercase;
   color: white;
  
}

.celebration{
    background-image: linear-gradient(to bottom, #f8dad3, white);
    height: 300px;
    position: relative;
   
  }

.celebration-container{
   position: absolute;
   top: 80px;
   left: 550px;

}

span{
    color: #FF0000;
    

}
.celebration-container>p{
    margin: 10px 0px;
    font-size: 20px;
}
.primary-button{
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 20px;

}


.offer-container{
    display: flex;
    justify-content: space-around;
    margin: 150px 0px;
   
}

.offer{
    width: 350px;
    height: 250;
    padding: 10px 10px;
    margin-top: 50px;
}

.offer>span{
    color: #FF0000;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    
}

.offer>h1{
  margin: 15px 0px;
}
.offer>p{
    margin-bottom: 20px;
}
.offer>h4{
    color: #FF0000;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
}

.discount-img{
    position: relative;
}
.discount-img-1{
    position: absolute;
    top: 60px;
   left: -170px;
}

.discount-des>p{
    width: 800px;
    margin: 20px auto;

}
.discount-des>h1{
    margin-top: 10px;
    font-weight: 900;
    font-size: 50px;
}

.discount-container{
   
}


.discount{
    display: flex;
    justify-content: space-between;
   
   
   
}



.gift-img-group{
    position: relative;
}

.gift-img{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
  
  
}



/* .overlay { 
    position: absolute; 
    top: 0; left: 100px; 
    width: 500px; height: 100%; 
    background-color: rgba(35, 7, 160, 0.5);  
 z-index: 2;

} */

/* .vector-box { 
    position: absolute;
    top: 320px;
    left: 230px;
    z-index: 2;
    width: 240px;
     height: 120px; 
     border-radius:80%;
     background-color: rgb(2, 29, 38); 
     transform: rotate(0deg) scale(1.2); 
     margin: 50px; 
    } */


.empty-box{
    width: 1322px;
    height: 229px;
    background-color: #FF0000;
    position: absolute;
    top: 400px;
    z-index: 1;
}

.circle{
   height: 403px;
   width: 403px;
   border: 10px solid #FF0000;
   border-radius: 50%;
}

.ellipse-img-design{
    position: relative;
}

.ellipse-img{
    position: absolute;
    top: 30px;
    left: 7%;
}




.portfolio{
    margin-top: 300px;
    text-align: left;
}

.portfolio>h1{
    margin: 10px 0px;
    font-weight: 900;
    font-size: 30px;

}

.portfolio>p{
    width: 700px;
    margin-bottom: 25px;
}

.item-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


.newsletter-container{
    margin-top: 100px ;
    background-color: #fae2dc;
    padding: 70px 0px;
    border-radius: 5px;
    


}

.newsletter-container>h1{
    font-weight: 900;
    font-size: 40px;

}

.newsletter-container>p{
    margin: 15px auto;
    width: 350px;
}

.newsletter-container>input{
    width: 300px;
   padding: 6px;
   border-radius: 7px;
   border: none;
   
  
}

footer{
    background-color: black;
    color: white;
    max-width: 1600px;
    /* margin-top: 4300px; */
    padding: 35px 0px;
    position: relative;  left: 0; top: 5050px; width: 100%;
    
  
}

.connect{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}

hr{
   width: 1200px;
   margin: 20px auto;
   border: 0.2px solid #333333e2;
}

.social-media{
    text-align: center;
    padding: 15px 0px;
    
}

.social-media>img{
  height: 30px;
  width: 30px;
}

.unscribe{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.unscribe>button{
   color: white;
   background: none;
   border: none;
}

.phone-number{
    display: flex;
    gap: 10px;
    align-items: center;
   margin-bottom: 5px;
}

.website{
    display: flex;
    gap: 10px;
    align-items: center;
}

